* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-grid {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  height: 92px;
}

.header-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  align-items: center;

  nav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 44px;
    align-items: center;

    img {
      width: 107px;
      height: 32px;
    }

    ul {
      width: 70%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        color: #ed2590;
        font-weight: bold;
      }
    }
  }

  .input-header {
    width: 100;
    height: 44px;

    img {
      position: relative;
      right: 290px;
    }
    input {
      width: 100%;
      height: 100%;
      background-color: #eff3f8;
      outline: none;
      border: none;
      padding-left: 40px;
      border-radius: 8px;
      color: #b4aeae;
    }

    input::placeholder {
      color: #b4aeae;
      font-size: 14px;
      font-weight: lighter;
    }
  }

  .perfil-header {
    display: flex;
    width: 25%;

    img:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    list-style-type: none;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
  }
}

main {
  background-color: #d9e6f7;
  display: flex;
}

.section-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 81px;
}

.section-style-perfil {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  gap: 32px;

  .perfil {
    background-color: white;
    height: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    gap: 20px;
    border-radius: 16px;

    article {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }

    img {
      border: 6px solid #ed2590;
      border-radius: 100px;
    }
  }

  .button-edit-perfil:hover {
    background-color: #ed2590;
    cursor: pointer;
    button {
      color: white;
      cursor: pointer;
      font-weight: bold;
    }
  }

  .button-edit-perfil {
    background-color: white;
    width: 95%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

    button {
      color: #ed2590;
      background: none;
      border: none;
    }
  }
}

.section-style-bio {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-bottom: 32px;
  border-radius: 16px;

  .informacao-central {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 24px;

    h2 {
      color: #4b4b4b;
      margin-top: 24px;
    }

    .frase-bio {
      background-color: #eff3f8;
      width: 95%;
      padding: 10px;
      border-radius: 16px;
      color: #4b4b4b;
    }
  }

  .status-style {
    /* border: 2px solid; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    color: #4b4b4b;

    .fas {
      display: flex;
      align-items: center;
      height: 25px;

      span {
        padding-left: 5px;
        color: #b4aeae;
      }
    }
  }
  .info-styles {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h5 {
      display: flex;
      color: #b4aeae;
      font-weight: lighter;
      text-align: justify;

      span {
        color: black;
      }
    }
    .borda {
      display: flex;
      justify-content: space-between;
      width: 90%;
      /* line-height: 24px; */
      align-items: center;

      span {
        display: flex;
        text-align: start;
        border: 1px solid #ed2590;
        border-radius: 18px;
        padding: 8px;
      }
      .view {
        border: none;
        color: #ed2590;
      }

      .view:hover{
            cursor: pointer;
            text-decoration: underline;
          }


    }
    #ultline {
      padding-bottom: 28px;
    }
  }
}

.section-style-social {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .social-style {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 32px;
    border-radius: 16px;
    margin-bottom: 32px;

    .div-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 21px;

      img{
        transition: .5s;
      }

      img:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    .div-text1 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 13px;
      }

      p {
        font-size: 13px;
        color: #ed2590;
      }

      p:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    
    }

    .div-text2 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 13px;
      }

      p {
        font-size: 13px;
        color: #ed2590;
      }
      
      p:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }

    figure {
      width: 56px;
      height: 81px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-size: 11px;
      text-align: center;
    }
  }
}
